@import 'vars'
@import 'basic'

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

#root
  margin: 20px auto
  padding: 0 20px
  max-width: 1280px

@import picker

.ldColorPicker
  width: 220px
  height: 140px

#blah
  width: 64px
  height: 640px
  div
    width: 100%
    height: 0.2777777777777777%

h2
  border-bottom: 1px solid #eee
  padding-bottom: 7px
  margin: 30px 0 30px

h3
  margin: 20px 0 20px

#landing
  width: 100%
  height: 300px
  background: #eee
  box-shadow: inset 0 -5px 10px rgba(0,0,0,0.1)
  .inner
    padding: 80px 20px 80px 20px
    max-width: 1024px
    margin: auto
  .title
    font-size: 3.6em
    font-weight: bold
    display: inline
  .brand
    white-space: nowrap
    font-family: "century gothic"
    font-size: 1em
    font-weight: 200
    color: gray
    display: inline
  .subtitle
    font-size: 1.6em
    span
      text-shadow: 0 0 3px rgba(0,0,0,0.3)
