@import 'vars'
@import 'basic'

.ldColorPicker
  line-height: 1.428571429
  display: inline-block
  position: relative
  width: 287px
  height: 160px
  text-align: left
  z-index: 1
  *, *:before, *:after
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

.ldcp-panel
  position: relative
  display: block
  padding: 5px
  background: #fff
  width: 100%
  height: 100%
  border: 1px solid #000

.ldColorPicker
  .ldcp-panel
    border: 1px solid #ccc
  &.no-border, &.mini-palette
    .ldcp-panel
      border: 1px transparent
  &.shadow .ldcp-panel, &.shadow.flat .ldcp-panel
    box-shadow: 0 1px 3px rgba(0,0,0,0.2)
  &.round .ldcp-panel
    border-radius: 3px
  &.rounder .ldcp-panel
    border-radius: 6px
  &.bubble .ldcp-panel:after
    content: " "
    display: block
    position: absolute
    width: 0
    height: 0
    border: 10px solid transparent
  &.top.bubble .ldcp-panel:after
    border-color: #ccc transparent transparent transparent
    bottom: -20px
    left: 10px
    top: auto
  &.right.bubble .ldcp-panel:after
    border-color: transparent #ccc transparent transparent
    top: 10px
    left: -20px
  &.left.bubble .ldcp-panel:after
    border-color: transparent transparent transparent #ccc 
    top: 10px
    right: -20px
    left: auto
  &.bottom.bubble .ldcp-panel:after, &.bubble .ldcp-panel:after
    border-color: transparent transparent #ccc transparent 
    top: -20px
    left: 10px

.ldcp-2d
  position: relative
  background: #00f
  display: inline-block
  cursor: move
  border-radius: 2px
  no-selection()
  .ldcp-mask
    z-index: 2
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.5)
    border-radius: 2px
  img
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 2px

.ldcp-1d
  position: relative
  display: inline-block
  cursor: row-resize
  no-selection()
  .ldcp-mask
    z-index: 2
  .ldcp-bar
    width: 80%
    height: 4px
    background: #fff
    top: 20px
    left: 10%
    margin: 0
    border: 1px solid #999
    border-radius: 1px
  img
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 2px
  .ldcp-mask
    left: 0
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.2)
    border-radius: 2px

.ldcp-colors.ldcp-g21
  position: relative
  flexbox()
  flex-wrap(wrap)
  .ldcp-colorptr
    content: " "
    display: block
    position: absolute
    width: 0
    height: 0
    bottom: -3px
    margin-left: -1 * gap
    border-width: 8px 5px
    border-style: solid
    border-color: transparent transparent #000 transparent
  .ldcp-palette
    flex(9 1)
    flexbox()
    flex-wrap(wrap)
    height: 100%
    margin-right: gap
    position: relative
  .ldcp-color, .ldcp-color-none
    height: 100%
    background: #eee
    display: inline-block
    overflow: hidden
    flex(1 1)
    text-align: center
    line-height: 100%
    vertical-align: middle
    cursor: pointer
    border-radius: 1px
    margin: 0 5px 0 0
    background-image: unquote("url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACVJREFUeNpi/P//PwMMvHnzBs5mYsABSJdgQTZXRESEFnYABBgAfWEI03YAx+QAAAAASUVORK5CYII=)")
  .ldcp-color > div
    width: 100%
    height: 100%
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2)
  .ldcp-color-none
    border: 1px dashed #ccc
    box-shadow: none

  .ldcp-color:first-of-type
    margin-left: 0
  .ldcp-color:last-of-type
    margin-right: 0

  .ldcp-color:first-of-type
    margin-left: 0
  .ldcp-color:last-of-type
    margin-right: 0

.ldcp-cbtn
  font-family: courier new
  text-align: center
  border: 1px solid #ccc
  font-weight: bold
  font-size: 16px
  line-height: 19px
  color: #888
  display: block
  cursor: pointer
  width: 17px
  flex(0 0 17px)
  border-left-width: 0
.ldcp-colors span:first-of-type
  border-radius: 2px 0 0 2px
  width: 19px
  flex(0 0 19px)
  margin-left: gap
  border-left-width: 1px
.ldcp-colors span:last-of-type
  border-radius: 0 2px 2px 0

.ldcp-g31
  text-align: right
  input.ldcp-input-hex, input
    height: 100%
    border-radius: 1px
    border: 1px solid #ccc
    font-size: 12px
    padding: 0
    vertical-align: top
    font-family: monospace
    width: 56px
    text-align: center
    margin-right: 0
  input
    width: 30px
    margin-left: -2px
    margin-right: 6px
    border-radius: 0 2px 2px 0
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3)
  span
    background: #f9f9f9
    display: inline-block
    line-height: 18px
    padding: 0 2px
    border-radius: 2px 0 0 2px
    height: 100%
    vertical-align: top
    font-size: 12px
    margin-right: 0
    border: 1px solid #ccc

.ldcp-panel
  .ldcp-ptr-circle, .ldcp-ptr-bar
    position: absolute
    background: none
    z-index: 3
  .ldcp-ptr-circle
    border-radius: 50%
    width: 10px
    height: 10px
    margin: -5px 0 0 -5px
    box-shadow: 0 0 3px 0px rgba(0,0,0,0.5), inset 0 0 0 1px rgba(0,0,0,0.5)
    border: 1px solid rgba(255,255,255,0.9)
  .ldcp-mask
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    cursor: move
  .ldcp-ptr-bar
    width: 80%
    height: 4px
    background: #fff
    top: 0
    left: 10%
    margin-top: -2px
    border: 1px solid #999
    border-radius: 1px

.ldcp-panel
  padding: gap
  padding-bottom: 2 * gap // vp count * 5 + fixed amount
.ldcp-v
  width: 100%
  margin-top: 2 * gap
  margin-bottom: -1 * gap
.ldcp-v:first-of-type
  margin-top: 0
.ldcp-v:last-of-type
  margin-bottom: -999 * gap
.ldcp-h
  height: 100%
  display: inline-block
  vertical-align: top
  margin-left: 2 * gap
  margin-right: -1 * gap
.ldcp-v .ldcp-h:first-of-type
  margin-left: 0
.ldcp-v .ldcp-h:last-of-type
  margin-right: -999 * gap

.ldcp-chooser
  display: none

@import 'picker-default'
@import 'picker-flat'
