@import 'vars'
@import 'basic'

.ldColorPicker.flat
  .ldcp-panel
    box-shadow: none
  .ldcp-2d .ldcp-mask, .ldcp-1d .ldcp-mask, .ldcp-colors .ldcp-color
    box-shadow: none
  .ldcp-g31 
    span
      border-color: transparent
      background: none
      color: #999
    input
      box-shadow: none
      border-color: transparent
      text-align: left
  .ldcp-colors.ldcp-g21
    .ldcp-color > div
      box-shadow: none
