.ldColorPicker.flat .ldcp-panel {
  box-shadow: none;
}
.ldColorPicker.flat .ldcp-2d .ldcp-mask,
.ldColorPicker.flat .ldcp-1d .ldcp-mask,
.ldColorPicker.flat .ldcp-colors .ldcp-color {
  box-shadow: none;
}
.ldColorPicker.flat .ldcp-g31 span {
  border-color: transparent;
  background: none;
  color: #999;
}
.ldColorPicker.flat .ldcp-g31 input {
  box-shadow: none;
  border-color: transparent;
  text-align: left;
}
.ldColorPicker.flat .ldcp-colors.ldcp-g21 .ldcp-color > div {
  box-shadow: none;
}
