html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
#root {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 1280px;
}
#blah {
  width: 64px;
  height: 640px;
}
#blah div {
  width: 100%;
  height: 0.277777777777778%;
}
h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 7px;
  margin: 30px 0 30px;
}
h3 {
  margin: 20px 0 20px;
}
#landing {
  width: 100%;
  height: 310px;
  background: #eee url("../../img/grid.png");
  box-shadow: inset 0 -5px 10px rgba(0,0,0,0.1);
}
#landing .inner {
  padding: 80px 20px 80px 20px;
  max-width: 1024px;
  margin: auto;
}
#landing .title {
  font-size: 3.6em;
  font-weight: bold;
  display: inline-block;
  margin: 16px 10px 0 0;
}
@media (max-width: 900px) {
  #landing .title {
    margin: 8px 0 -10px;
  }
}
#landing .brand {
  white-space: nowrap;
  font-family: "century gothic";
  font-size: 1em;
  font-weight: 200;
  color: #808080;
  display: inline-block;
}
#landing .brand a {
  color: #808080;
}
@media (max-width: 900px) {
  #landing .brand {
    margin-bottom: 8px;
  }
}
#landing .subtitle {
  font-size: 1.6em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#landing .subtitle span {
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.subnav {
  display: none;
}
.subnav li > a {
  padding: 4px 15px 4px 25px;
}
#affix li.active .subnav {
  display: block;
}
#affix li a {
  color: #666;
}
#affix {
  top: 20px;
}
#affix li > a {
  border-left: 4px solid transparent;
}
#affix li.active > a {
  font-weight: bold;
  border-left: 4px solid #777;
}
.ldColorPicker.landing {
  width: 190px;
  margin-left: -70px;
}
.ldColorPicker.landing .ldcp-palette {
  justify-content: center;
}
.ldColorPicker.landing .ldcp-sep {
  display: none;
}
.ldColorPicker.landing .ldcp-panel:after {
  left: 85px;
}
@media (max-width: 900px) {
  #landing-palettes .ldColorPicker:nth-of-type(1),
  #landing-palettes .ldColorPicker:nth-of-type(5) {
    display: none;
  }
}
#examples .ldColorPicker {
  display: block;
  max-width: 100%;
  margin: auto;
  margin-top: 5px;
}
#examples .row {
  margin-top: 30px;
}
#footer {
  font-family: 'century gothic';
  color: #999;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #e0e0e0;
}
